PORT=3000
DATABASE_URL="postgresql://postgres:your_password@localhost:5432/task_api_db?schema=public"
#DATABASE_URL="postgresql://postgres:postgres@localhost:5432/task_api_db?schema=public" for Docker
JWT_SECRET="your_secret_key"